/* algemene stijl */
* {
  font-family: 'Arimo', sans-serif;
  padding: 0;
  margin: 0;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}























/* navbar */
.brand-logo {
  width: 100px;
  height: auto;
  margin-left: 25px;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
  flex: 1;
}


/* hamburger menu */
.hamburger-menu {
  margin-right: 40px;
}

.nav-item {
  font-weight: 600;
}

.navbar-nav .nav-item .nav-link {
  color: black;
}


.navbar-nav .nav-item:hover .nav-link {
  color: #5b9aff;
  transition: background-color 0.8s ease;
}

@media (max-width: 991.98px) {
  .navbar-nav .nav-item:hover .nav-link {
    background-color: #5b9aff;
    color: white;
    transition: background-color 0.8s ease;
  }
}






























/* Dit is voor home.js */
/* Tekst bovenaan homepage */

.foto-container {
  position: relative;
}

.foto-heading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .foto-heading {
    font-size: 18px;
    width: 100%;
    text-align: center;
  }
}

.homepageSlider {
  width: 100%;
  height: 1000px;
}




.onderlijn {
  border: none;
  border-top: 3px solid black;
  width: 35%;
  margin: 0 auto;
  padding: 10px 0;
}



.tekst-container {
  text-align: center;
  position: relative;
  width: 70%;
  margin: 0 auto;
}

/* voor de knop */

.custom-btn {
  color: black;
  background-color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease; }


.custom-btn:hover {
  background-color: #3a84ff;
  color: white;
  font-weight: bold;
}

/* tweede-foto */

.tweedeFoto {
  margin: 0 auto;
  padding-top: 25px;
}

.tekst-overlay {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 1s ease;
}

.tekst-overlay.active {
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 2s;
}



.homepageFoto {
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease;
}

.homepageFoto.active {
  opacity: 1;
}

/* dit is voor de evenementen */
.data-container {
  margin: 20px; 
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px; 
}

.grid-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #ccc;
  padding: 10px;
  grid-gap: 10px;
}

.grid-cell {
  border: 1px solid #ccc;
  padding: 10px; 
}

.grid-cell:first-child {
  background-color: #f2f2f2;
}



























/* Dit is voor de luisteren pagina */
.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}



























/* dit is voor de referenties pagina */

/* Stijl voor afbeeldingen in de slideshow */
.slider-image {
  width: 100%; /* Neemt de volledige breedte van de container in */
  height: 750px; /* Stel een vaste hoogte in voor de afbeelding */
  object-fit: cover; /* Behoudt de aspectverhouding van de afbeeldingen en snijdt ze bij om in de container te passen */
}


.referenties-text {
  text-align: center;
  margin-top: 75px;
  font-size: 18px;
  line-height: 1.7;
}

.referenties-text p {
  padding: 50px 0;
  line-height: 2.0;
  width: 75%;
  margin: 0 auto;
}






















/* dit is voor de OverOns.js  */
.center-text {
text-align: center;
}

.OverOns-text {
  width: 75%;
  margin: 0 auto;
}


.lid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.lid {
  text-align: center;
}

.lid img {
  max-width: 200px;
  max-height: 200px;
  height: auto; 
  object-fit: cover;
}


.lid {
  max-width: 200px;
  text-align: center;
}

.lid img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.lid-details {
  margin-top: 10px;
}

.lid-details h3 {
  font-size: 16px;
  margin-bottom: 5px;
}

.lid-details p {
  font-size: 14px;
  margin: 0;
}



/* heb de jpg veranderd naar webp en toen zijn deze 3 afbeelding gedraait hiermee maak ik dat ongedaan */
.peter-lachnit, .tonke-joppe, .gerard-teunisse {
  transform: rotate(-90deg);
}


.kees-flameling {
  object-position: 100% center; 
}

























/* CSS voor het grid in de repertoire */
.custom-container {
  display: flex;
  height: 650px;
}

.custom-container .info-container {
  flex: 1;
}



.repertoire-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.content-left {
  grid-column: 1;
}

.content-right {
  grid-column: 2;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.info-container {
  width: 100%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.repertoire-button, .repertoire-title {
  padding: 50px;
  line-height: 1.2;
}


.custom-link-btn {
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
  text-decoration: none; /* Verwijder underline */
}

.custom-link-btn:hover {
  background-color: #3a84ff;
  color: white;
  font-weight: bold;
}



@media screen and (max-width: 768px) {
  .repertoire-container {
    grid-template-columns: 1fr; /* Slechts 1 kolom voor kleine schermen */
  }
  .content {
    width: 100%;
  }
}



/* dit is voor de lijst van liedjes in repertoire */




.song-list-container {
  grid-column: 1 / span 2;
  margin-top: 20px;
}

.song-item {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.song-item a {
  text-decoration: none;
  color: black;
}

.song-item a:hover {
  transition: 0.2s ease;
  color: white;
}

.song-item:hover {
  background-color: #7eaefa;
  transition: 0.5s ease;
}




/* dit is voor de nummers uit het repertoire */
.song-item {
  margin-bottom: 20px; /* Voeg meer ruimte toe tussen de nummers */
}

.custom-container {
  display: flex;
  height: 650px;
  align-items: center; /* Center de items verticaal in de container */
}

.info-container {
  width: 95%;
  text-align: center;
}

/* Maak de links meer opvallend */
.song-item a {
  display: block;
  padding: 10px;
  border-radius: 5px;
  background-color: #f5f5f5; /* Achtergrondkleur toevoegen */
  transition: background-color 0.3s ease; /* Vloeiende overgang bij hover */
}

.song-item a:hover {
  background-color: #e0e0e0; /* Achtergrondkleur veranderen bij hover */
}





